/****************************/
/* 							*/
/* 							*/
/* 			HEADER			*/
/* 							*/
/* 							*/
/****************************/
.container-fluid{
	overflow-x: hidden;
}
header{
	background: #001928;
	color: white;
	font-size: 0.85em;
}
div.header-container{
	text-align: center;
}
div.header-container .header-logo{
	display: inline-block;
	max-height: 100%;
	padding: 10px;
}
div.header-container .header-logo img{
	height: 40px;
	max-height: 100%;
}
ul.menu{
	display: inline-block;
	list-style-type: none;
	margin: 0;
	margin-left: 450px;
	padding: 0;
}
ul.menu li.menu-item{
	display: inline-block;
	padding-top: 25px;
	padding-bottom: 25px;
}
ul.menu li.menu-item{
    cursor: pointer;
}
ul.menu li.menu-item a{
    transition: 0.2s linear all;
	text-decoration: inherit;
    color: inherit;
	padding: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
}
ul.menu li.menu-item:hover{
    transition: 0.2s linear all;
	background-color: #6BE7D7;
	color: #001928;
}
ul.menu li.btn-login{
	display: inline-block;
    cursor: pointer;
	background-color: #6BE7D7;
	color: #001928;
	padding-left: 10px;
	padding-right: 10px;
}
ul.menu li.btn-login a{
	padding-left: 0px;
	padding-right: 0px;
}
ul.menu li.btn-login:hover{
	background-color: #23DCC5;
}
.add-files, .btn-add-user{
	color: white;
	position: absolute;
	top: 10px;
	right: 30px;
}
.btn-add-files, .btn-add-files:active, .btn-add-user, .btn-add-user:active {
	background: -moz-linear-gradient(-45deg, #ff8a19 0%, #8de859 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #ff8a19 0%,#8de859 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #ff8a19 0%,#8de859 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.add-files-modal, .add-user-modal{
	position: fixed;
	width: 400px;
	left:0;
	right:0;
	top:25%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 15px;
	background-color: rgba(11, 37, 52, 0.9);
	z-index: 999;
}
.add-user-modal{
	top:15%;
	width: 500px;
}
.add-files-modal .closer, .add-user-modal .closer{
	position: absolute;
	right: 15px;
	top: 10px;
	color:white;
}
.add-files-modal .closer:hover, .add-user-modal .closer:hover{
	cursor: pointer;
	z-index: 9999;
}
.add-files-modal h3, .add-user-modal h3{
	color: white;
}
.add-files-modal h4 .add-user-modal h4, .add-user-modal label{
	color: white;
}
.add-files-modal .btn-add:active{
	background: -moz-linear-gradient(-45deg, #26df00 0%, #00f79d 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #26df00 0%,#00f79d 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #26df00 0%,#00f79d 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.add-files-modal .btn-add{
	background: -moz-linear-gradient(-45deg, #26df00 0%, #00f79d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #26df00 0%,#00f79d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #26df00 0%,#00f79d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.delete-file-modal{
	position: fixed;
	width: 400px;
	left:0;
	right:0;
	top:25%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 15px;
	background-color: rgba(11, 37, 52, 0.9);
	z-index: 999;
}
.delete-file-modal h3, .delete-file-modal h5{
	color: white;
}
.delete-file-modal .btn-del{
	background: -moz-linear-gradient(-45deg, #26df00 0%, #00f79d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #26df00 0%,#00f79d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #26df00 0%,#00f79d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.delete-file-modal .btn-del:active{
	background: -moz-linear-gradient(-45deg, #26df00 0%, #00f79d 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #26df00 0%,#00f79d 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #26df00 0%,#00f79d 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/****************************/
/* 							*/
/* 							*/
/* 			LOGIN			*/
/* 							*/
/* 							*/
/****************************/
body, html{
	height: 100%;
}
.login-page{
	background: url('../img/Log-In.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.login-container{
	font-size: 0.8em;
	position: fixed;
	top: 17%;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255,255,255, 0.8);
	border-radius: 10px 10px 0 0;
	width: 500px;
	padding: 25px;
	padding-bottom: 0px;
}
.login-container::after{
	left:0;
	content: '';
	height: 5px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #21FBF4;
}
.login-container::before{
	left:0;
	content: '';
	height: 5px;
	width: 100%;
	position: absolute;
	bottom: 5px;
	background-color: #1B334B;
}
.login-container small{
	font-size: 0.9em;
	color: #1B334B;
}
.login-container p.title-icon{
	font-size: 1.8em;
	margin-bottom: 0;
}
.btn-login{
	border-radius: 50%;
	background-color: #1B334B;
	color: #21FBF4;
	font-weight: 100;
}
.oi:empty:before{
	margin-left: 4px;
}

/****************************/
/* 							*/
/* 							*/
/* 			FOOTER			*/
/* 							*/
/* 							*/
/****************************/
.footer{
	font-size: 0.85em;
	position: absolute;
	padding-top: 7px;
	padding-bottom: 7px;
	bottom: 0%;
	width: 101.5%;
	background-color: #001928;
	color: white;
}
.footer .logo-section{
	text-align: center;
}
.footer .logo-section img{
	margin-top: 20px;
	display: inline-block;
	max-width: 100%;
}
.footer .footer-menu{
	/*padding-left: 20px;*/
}
.footer .footer-menu p{
	margin-left: 10px;
}
.footer .footer-menu ul{
	list-style: none;
	padding-left: 0px;
}
.footer .footer-menu ul li{
	margin-top: 5px;
	padding-left: 15px;
}
.footer .footer-menu ul li:before{
	transform: scaleY(2);
    content: "►";
    display: block;
    float: left;
    width: 1em;
    color: #87DAD2;
    margin-right: 10px;
    position: absolute;
	left: 20px;
}
.footer .footer-menu ul li:hover::before{
	animation-name: footer-bouncing-bullets;
	animation-direction: normal;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}
.footer .footer-menu ul li a{
	color: white;
}
.footer p img{
	max-height: 40px;
}
.no-anchor{
	color: white;
	text-decoration: none;
}



/****************************/
/* 							*/
/* 							*/
/* 		DASHBOARD			*/
/* 							*/
/* 							*/
/****************************/
.admin-menu{
	background-color: white;
	color: black;
	padding: 25px;
}
.admin-header > h4{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #2E7E99;
	color: white;
}
.menu .client p{
	color: #2E7E99;
}
.menu .options a{
	color: #2E7E99;
	text-decoration: none;
}
.file-card{
	padding-top: 0px;
	padding-bottom: 0px;
	color: white;
	margin-top: -25px;
	margin-left: 10px;
	margin-right: 10px;
}
.file-card.blue{
	background: #235e9f; /* Old browsers */
	background: -moz-linear-gradient(45deg, #235e9f 0%, #94ded0 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #235e9f 0%,#94ded0 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #235e9f 0%,#94ded0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.file-card.red{
	background: #ed4a72; /* Old browsers */
	background: -moz-linear-gradient(45deg, #ed4a72 1%, #ff7c22 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #ed4a72 1%,#ff7c22 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #ed4a72 1%,#ff7c22 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.file-card.green{
	background: #1ba43c; /* Old browsers */
	background: -moz-linear-gradient(45deg, #1ba43c 1%, #51c1c3 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #1ba43c 1%,#51c1c3 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #1ba43c 1%,#51c1c3 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.files-container{
	padding: 50px;
}
.filetype-link{
	color: white;
	padding: 50px;
	display: block;
	width: 100%;
	height: 100%;
}
.filetype-link:hover{
	color: white;
}
.file-block{
	/*display: inline-block;
	width: 90%;*/
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	-webkit-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.33);
	box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.33);
	margin-top: 6px;
	margin-bottom: 6px;
}
.btn-erase{
	padding-top: 0px;
	padding-bottom: 0px;
}

/****************************/
/* 							*/
/* 							*/
/* 		ANIMATIONS			*/
/* 							*/
/* 							*/
/****************************/
@keyframes footer-bouncing-bullets{
	0%{left:20px;}
	50%{left:16px;}
	100%{left:20px;}
}